In [ ]:
#Name:Lanke Payal
#Roll No:152
#Div:B
#22/8/25

In [33]:

#import 
import pandas as pd

In [2]:
#Creating The Series
#Series Always 1D
s=pd.Series(['Shital','Pooja','Gauri','Shraddha'],index=['a','b','c','d'])
print(s)
print("Access Signle Value:",s['b'])#Access A Single Value

a      Shital
b       Pooja
c       Gauri
d    Shraddha
dtype: object
Access Signle Value: Pooja

In [3]:
#Type Of Series
type(s)

pandas.core.series.Series

In [8]:

#DataFrame Creation
#2D 
data={
      'Name':['Payal','Gauri','Mitali','Fiza'],
       'RollNo':[152,151,154,155],
       'Age': [19,18,17,15],
       'Marks':[50,40,60,75]
}

df1=pd.DataFrame(data)
print("DataFrame")
print("Access Single Column")
print(df1['Age'])

DataFrame
Access Single Column
0    19
1    18
2    17
3    15
Name: Age, dtype: int64

In [9]:
type(df1)#Type of dataframe

pandas.core.frame.DataFrame

In [10]:
df=pd.read_csv("electric_vehicles_dataset.csv")
df.head()

,Vehicle_ID,Manufacturer,Model,Year,Battery_Type,Battery_Capacity_kWh,Range_km,Charging_Type,Charge_Time_hr,Price_USD,Color,Country_of_Manufacture,Autonomous_Level,CO2_Emissions_g_per_km,Safety_Rating,Units_Sold_2024,Warranty_Years
0,1,Acura,ZDX (with GM Ultium),2015,Lithium-titanate,55.8,214,CHAdeMO,9.0,111203.94,Matte White,UK,0.0,NaN,5.0,19726,3
1,2,Lamborghini,Revuelto (PHEV),2025,Lithium-titanate,90.8,212,Vehicle-to-Home (V2H),7.3,127131.65,White,Netherlands,2.0,0.0,4.0,3349,3
2,3,NIO,ET7,2020,Calcium-ion,64.7,235,Level 2 Charging,8.9,94347.37,Beige,UK,5.0,0.0,5.0,6300,5
3,4,Audi,e-tron,2025,Lithium-iron phosphate,120.5,140,Ultra-Fast Charging (350 kW+),10.5,75615.15,Sunset Orange,Argentina,2.0,0.0,5.0,2339,5
4,5,Acura,ZDX (with GM Ultium),2023,Lithium-titanate,51.8,336,Plug-in Hydrogen Refueling,3.6,141046.94,Ice Silver,United Arab Emirates,2.0,0.0,3.0,1051,4

In [11]:
df.to_csv("electric_vehicles_dataset.csv",index=False)

In [49]:
s=pd.Series([10,20,30,40])
print("Arithmetic Operations")
print(2*s)
print("Addition")
print(2+s)

Arithmetic Operations
0    20
1    40
2    60
3    80
dtype: int64
Addition
0    12
1    22
2    32
3    42
dtype: int64

In [ ]:
df1['Name']             # single column
df1[['Name','Age']]     # multiple columns
df1.iloc[0]             # first row by index
df1.iloc[1:4]           # rows by index range
df1.loc[df['marks']>16]

     Name  RollNo  Age  Marks
1   Gauri     151   18     40
2  Mitali     154   17     60
3    Fiza     155   15     75

In [17]:
df.head()#first 5

,Vehicle_ID,Manufacturer,Model,Year,Battery_Type,Battery_Capacity_kWh,Range_km,Charging_Type,Charge_Time_hr,Price_USD,Color,Country_of_Manufacture,Autonomous_Level,CO2_Emissions_g_per_km,Safety_Rating,Units_Sold_2024,Warranty_Years
0,1,Acura,ZDX (with GM Ultium),2015,Lithium-titanate,55.8,214,CHAdeMO,9.0,111203.94,Matte White,UK,0.0,NaN,5.0,19726,3
1,2,Lamborghini,Revuelto (PHEV),2025,Lithium-titanate,90.8,212,Vehicle-to-Home (V2H),7.3,127131.65,White,Netherlands,2.0,0.0,4.0,3349,3
2,3,NIO,ET7,2020,Calcium-ion,64.7,235,Level 2 Charging,8.9,94347.37,Beige,UK,5.0,0.0,5.0,6300,5
3,4,Audi,e-tron,2025,Lithium-iron phosphate,120.5,140,Ultra-Fast Charging (350 kW+),10.5,75615.15,Sunset Orange,Argentina,2.0,0.0,5.0,2339,5
4,5,Acura,ZDX (with GM Ultium),2023,Lithium-titanate,51.8,336,Plug-in Hydrogen Refueling,3.6,141046.94,Ice Silver,United Arab Emirates,2.0,0.0,3.0,1051,4

In [18]:
df.tail()#last 5

,Vehicle_ID,Manufacturer,Model,Year,Battery_Type,Battery_Capacity_kWh,Range_km,Charging_Type,Charge_Time_hr,Price_USD,Color,Country_of_Manufacture,Autonomous_Level,CO2_Emissions_g_per_km,Safety_Rating,Units_Sold_2024,Warranty_Years
3017,3018,Ferrari,SF90 Stradale (PHEV),2018,Sodium-ion,49.9,182,Mobile Charging,11.7,43988.90,Champagne,Indonesia,2.0,0.0,4.0,13366,5
3018,3019,Mahindra,Born Electric (upcoming range),2019,Lithium-ion,136.9,375,Vehicle-to-Home (V2H),5.8,142072.84,Electric Blue,India,NaN,0.0,3.0,15235,3
3019,3020,Cadillac,Lyriq,2021,Lithium-iron phosphate,136.5,221,Plug-in Hydrogen Refueling,1.1,88218.53,Metallic Silver,Canada,2.0,0.0,3.0,13808,3
3020,3021,Mahindra,XUV400,2021,Nickel-metal hydride,96.4,249,Mobile Charging,9.8,110221.30,Matte Green,New Zealand,3.0,NaN,3.0,9854,3
3021,3022,MG,MG4 Electric,2016,Lithium-sulfur,76.2,404,NACS,2.4,148993.26,Matte Black,Austria,5.0,0.0,4.0,5786,5

In [19]:
df.info()#Structural form of data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3022 entries, 0 to 3021
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Vehicle_ID              3022 non-null   int64
 1   Manufacturer            3022 non-null   object
 2   Model                   3022 non-null   object
 3   Year                    3022 non-null   int64
 4   Battery_Type            3022 non-null   object
 5   Battery_Capacity_kWh    3022 non-null   float64
 6   Range_km                3022 non-null   int64
 7   Charging_Type           3022 non-null   object
 8   Charge_Time_hr          3022 non-null   float64
 9   Price_USD               3022 non-null   float64
 10  Color                   3022 non-null   object
 11  Country_of_Manufacture  3022 non-null   object
 12  Autonomous_Level        2580 non-null   float64
 13  CO2_Emissions_g_per_km  2430 non-null   float64
 14  Safety_Rating           2685 non-null   float64
 15  Units_Sold_2024         3022 non-null   int64
 16  Warranty_Years          3022 non-null   int64
dtypes: float64(6), int64(5), object(6)
memory usage: 401.5+ KB

In [20]:
df.describe()#stastical form of data

,Vehicle_ID,Year,Battery_Capacity_kWh,Range_km,Charge_Time_hr,Price_USD,Autonomous_Level,CO2_Emissions_g_per_km,Safety_Rating,Units_Sold_2024,Warranty_Years
count,3022.000000,3022.000000,3022.000000,3022.000000,3022.000000,3022.000000,2580.000000,2430.0,2685.000000,3022.000000,3022.000000
mean,1511.500000,2020.019523,84.314692,349.901059,6.212045,90611.906760,2.519380,0.0,3.995158,10207.072799,3.997353
std,872.520582,3.132083,37.210461,145.406139,3.350597,34654.533838,1.713712,0.0,0.819594,5771.619003,0.821746
min,1.000000,2015.000000,20.000000,100.000000,0.500000,30014.460000,0.000000,0.0,3.000000,6.000000,3.000000
25%,756.250000,2017.000000,52.425000,222.000000,3.300000,61257.390000,1.000000,0.0,3.000000,5145.500000,3.000000
50%,1511.500000,2020.000000,83.600000,347.000000,6.200000,90929.705000,3.000000,0.0,4.000000,10350.000000,4.000000
75%,2266.750000,2023.000000,115.800000,478.000000,9.100000,120199.842500,4.000000,0.0,5.000000,15128.000000,5.000000
max,3022.000000,2025.000000,150.000000,600.000000,12.000000,149978.530000,5.000000,0.0,5.000000,19996.000000,5.000000

In [21]:
df.dtypes#Datatypes

Vehicle_ID                  int64
Manufacturer               object
Model                      object
Year                        int64
Battery_Type               object
Battery_Capacity_kWh      float64
Range_km                    int64
Charging_Type              object
Charge_Time_hr            float64
Price_USD                 float64
Color                      object
Country_of_Manufacture     object
Autonomous_Level          float64
CO2_Emissions_g_per_km    float64
Safety_Rating             float64
Units_Sold_2024             int64
Warranty_Years              int64
dtype: object

In [22]:
df.shape #Dimension(rows and columns)

(3022, 17)

In [23]:
df.columns #columns  names

Index(['Vehicle_ID', 'Manufacturer', 'Model', 'Year', 'Battery_Type',
       'Battery_Capacity_kWh', 'Range_km', 'Charging_Type', 'Charge_Time_hr',
       'Price_USD', 'Color', 'Country_of_Manufacture', 'Autonomous_Level',
       'CO2_Emissions_g_per_km', 'Safety_Rating', 'Units_Sold_2024',
       'Warranty_Years'],
      dtype='object')

In [24]:
df.index #row index

RangeIndex(start=0, stop=3022, step=1)

In [27]:
df1.describe() #stastical summary
df1['Marks'].mean() #Mean

np.float64(56.25)

In [28]:
df1['Marks'].max() #Max

np.int64(75)

In [29]:
df1['Marks'].median() #Median

np.float64(55.0)

In [30]:
df1['Marks'].min() #minimum value

np.int64(40)

In [31]:
df1['Marks'].sum() #Sum of values

np.int64(225)

In [32]:
df1['Marks'].value_counts() #Count Of Values

Marks
50    1
40    1
60    1
75    1
Name: count, dtype: int64